/* src/components/About.css */

.about-section {
  background: linear-gradient(to right, #e3f2fd, #ffffff);
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card {
  /* background-color: #ffffff; */
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  text-align: left;
}

.about-title {
    text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  /* font-size: 2rem; */
  /* color: #000000; */
  /* margin-bottom: 20px; */
  /* font-weight: 500; */
}

.about-intro,
.about-objective {
  font-size: 0.95rem; /* Decreased from 1.1rem */
  line-height: 1.6;
  color: #333;
  margin-bottom: 18px;
}
