/* :root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
}

[data-theme="retro"] {
  --bg-color: #f4ecd8;
  --text-color: #0d3b66;
}

[data-theme="neon"] {
  --bg-color: #000000;
  --text-color: #39ff14;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
} */

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #111827;
  margin: 0;
  padding: 0;
}

section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}
