/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #111827;
  margin: 0;
  padding: 0;
}

section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #e3f2fd, #ffffff);
  color: #111827;
}
